# Specify version format
version: "1.0.{build}"

# Operating system (build VM template)
os: Visual Studio 2015
 
# build platform, i.e. Win32 (instead of x86), x64, Any CPU. This setting is optional.
platform:
  - Win32
  - x64

# specify custom environment variables
environment:
  MSVC_DEFAULT_OPTIONS: ON
  BOOST_ROOT: C:\Libraries\boost_1_59_0
  BOOST_LIBRARYDIR_WIN32: C:\Libraries\boost_1_59_0\lib32-msvc-14.0
  BOOST_LIBRARYDIR_WIN64: C:\Libraries\boost_1_59_0\lib64-msvc-14.0
  SNAPSHOT_TAG: "Last-Build"

# build configuration, i.e. Debug, Release, etc.
configuration:
  - Debug
  - Release

# scripts that are called at very beginning, before repo cloning
#init:
#  - cmd: cmake --version
#  - cmd: msbuild /version

# clone directory
clone_folder: C:\projects\cmangos-wotlk

# branches to build
branches:
  # whitelist
  only:
    - master

# scripts that run after cloning repository
#install:

# scripts to run before build
before_build:
  - cmd: if "%platform%"=="Win32" set BOOST_LIBRARYDIR="%BOOST_LIBRARYDIR_WIN32%"
  - cmd: if "%platform%"=="x64" set BOOST_LIBRARYDIR="%BOOST_LIBRARYDIR_WIN64%"

build:
  project: C:\projects\cmangos-wotlk\win\mangosdVC140.sln # path to Visual Studio solution or project
  parallel: true                                          # enable MSBuild parallel builds
  verbosity: quiet                                        # MSBuild verbosity level (quiet|minimal|normal|detailed)

test: off

#after_build:


artifacts:
  - path: bin\$(platform)_$(configuration)
    name: $(APPVEYOR_PROJECT_NAME)_$(platform)_$(configuration)

deploy:
  - provider: GitHub
    auth_token:
      secure: RFA6IqkmxScQjpbDusK10h7w6kgragC5u5L7DHNAyEqCvGfs2InqB9GNeTk4b6nm
    release: $(SNAPSHOT_TAG) # name of the tag used
    #release: $(appveyor_repo_tag_name)
    description: 'Snapshot v$(appveyor_build_version)'
    # github automatically does source zip/tarball for us
    artifact: $(APPVEYOR_PROJECT_NAME)_$(platform)_$(configuration)
    draft: true
    prerelease: false
    on:
      branch: master                # release from master branch only
      appveyor_repo_tag: false      # deploy on tag push only
